Repository tobymao/sqlglot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake -i -r
        language: system
        types: [ python ]
        require_serial: true
        files: ^(sqlglot/|tests/|setup.py)
      - id: isort
        args: [--combine-as]
        name: isort
        entry: isort
        language: system
        types: [ python ]
        files: ^(sqlglot/|tests/|setup.py)
        require_serial: true
      - id: black
        name: black
        entry: black --line-length 100
        language: system
        types: [ python ]
        require_serial: true
        files: ^(sqlglot/|tests/|setup.py)
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        files: ^(sqlglot/|tests/)
        require_serial: true

Fix(parser): properly parse qualified columns when parsing "columns ops" (#4847)
  sqlglot/parser.py
  tests/dialects/test_postgres.py
Due: autoflake, isort, black, mypy

Treat comma as trailing if failed to parse table
  sqlglot/parser.py
Due: autoflake, isort, black, mypy

Test trailing commas
  tests/dialects/test_snowflake.py
  tests/fixtures/partial.sql
Due: autoflake, isort, black, mypy

No walrus
  sqlglot/parser.py
Due: autoflake, isort, black, mypy

feat(parser): Support trailing commas after from (#4854)
  sqlglot/parser.py
  tests/dialects/test_snowflake.py
  tests/fixtures/partial.sql
Due: autoflake, isort, black, mypy

fix(snowflake): add support for FROM_HEX_BINARY
  sqlglot/dialects/duckdb.py
  sqlglot/dialects/snowflake.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy

Chore: fix pdoc deployment
  pdoc/cli.py
Due: none

Chore: fix pdoc deployment (#4856)
  pdoc/cli.py
Due: none

docs: update API docs, CHANGELOG.md for v26.9.0 [skip ci]
  CHANGELOG.md
Due: none

fix function name
  sqlglot/dialects/snowflake.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy

Keep HEX_DECODE_BINARY in its sorted position
  sqlglot/dialects/snowflake.py
Due: autoflake, isort, black, mypy

remove from_hex alias from duckdb
  sqlglot/dialects/duckdb.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy

Feat(snowflake): add support for HEX_DECODE_BINARY (#4855)
  sqlglot/dialects/snowflake.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy

fix: Prevent incorrect processing of UNPIVOT result columns as struct field accesses
  sqlglot/optimizer/qualify_columns.py
Due: autoflake, isort, black, mypy

Fix struct field lookup conversions for PIVOT/UNPIVOT aliases
  sqlglot/optimizer/qualify_columns.py
Due: autoflake, isort, black, mypy

Feat(duckdb): add support for prefix aliases
  sqlglot/dialects/duckdb.py
  tests/dialects/test_duckdb.py
Due: autoflake, isort, black, mypy

Update vis-network link
  sqlglot/lineage.py
Due: autoflake, isort, black, mypy

fix: spark zone offset closes #4858
  sqlglot/dialects/hive.py
  tests/dialects/test_spark.py
Due: autoflake, isort, black, mypy

fix!: postgres case insesitive formats closes #4860
  sqlglot/dialects/postgres.py
  tests/dialects/test_oracle.py
Due: autoflake, isort, black, mypy

fix!: duckdb defaults timestampntz closes #4859
  sqlglot/dialects/duckdb.py
  sqlglot/parser.py
  tests/dialects/test_clickhouse.py
  tests/dialects/test_duckdb.py
  tests/dialects/test_mysql.py
  tests/dialects/test_spark.py
Due: autoflake, isort, black, mypy

Chore!: Introduce pyproject.toml and switch to packaging via build
  .github/workflows/python-publish.yml
  .gitignore
  pyproject.toml
  setup.py
Due: autoflake, isort, black

fix(snowflake): support TO_CHAR to duckdb STRFTIME
  sqlglot/dialects/dialect.py
  sqlglot/dialects/oracle.py
  sqlglot/dialects/snowflake.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy

Drop python 3.7 from tests
  .github/workflows/python-package.yml
Due: none

shotgun debugging
  .github/workflows/python-package.yml
Due: none

PR feedback 1
  sqlglot/dialects/dialect.py
Due: autoflake, isort, black, mypy

Add comprehensive tests for sqlglot qualify functionality with UNPIVOT operations
  tests/test_qualify.py
Due: autoflake, isort, black, mypy

fix(snowflake)!: support TO_CHAR to duckdb STRFTIME (#4866)
  sqlglot/dialects/dialect.py
  sqlglot/dialects/oracle.py
  sqlglot/dialects/snowflake.py
  tests/dialects/test_snowflake.py
Due: autoflake, isort, black, mypy
