Repository tobymao/sqlglot: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, mypy

autoflake:
  name: autoflake
  entry: autoflake -i -r
  language: system
  require_serial: true

isort:
  args:
  - --combine-as
  name: isort
  entry: isort
  language: system
  require_serial: true

black:
  name: black
  entry: black --line-length 100
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Simplify
  sqlglot/dialects/tsql.py
  sqlglot/generator.py
  tests/dialects/test_tsql.py
Due: autoflake, isort, black, mypy

Fixup
  sqlglot/generator.py
Due: autoflake, isort, black, mypy

Improve comment
  sqlglot/dialects/tsql.py
Due: autoflake, isort, black, mypy

Refactor!: desugar LOG2 and LOG10 by converting them into LOG (#3139)
  sqlglot/dataframe/sql/functions.py
  sqlglot/dialects/clickhouse.py
  sqlglot/dialects/dialect.py
  sqlglot/dialects/presto.py
  sqlglot/dialects/tableau.py
  sqlglot/dialects/trino.py
  sqlglot/expressions.py
  sqlglot/generator.py
  sqlglot/optimizer/annotate_types.py
  sqlglot/parser.py
  tests/dataframe/unit/test_functions.py
  tests/dialects/test_dialect.py
  tests/dialects/test_hive.py
  tests/fixtures/identity.sql
  tests/test_expressions.py
Due: autoflake, isort, black, mypy

Cleanup
  sqlglot/dialects/tsql.py
Due: autoflake, isort, black, mypy

Feat(tsql): transpile LIMIT with OFFSET properly (#3145)
  sqlglot/dialects/tsql.py
  sqlglot/generator.py
  tests/dialects/test_tsql.py
Due: autoflake, isort, black, mypy

Chore: copy sqlglot.svg in docs/ to also display logo in website
  docs/sqlglot.svg
Due: none

Chore: copy sqlglot.svg in docs/ to also display logo in website (#3147)
  docs/sqlglot.svg
Due: none

fix: optimizer bugs
  sqlglot/optimizer/qualify_columns.py
  sqlglot/optimizer/simplify.py
  tests/fixtures/optimizer/qualify_columns.sql
  tests/fixtures/optimizer/simplify.sql
Due: autoflake, isort, black, mypy

docs: update API docs, CHANGELOG.md for v22.5.0 [skip ci]
  CHANGELOG.md
Due: none

Chore: improve type hints of Query methods
  sqlglot/expressions.py
Due: autoflake, isort, black, mypy

chore: pin ruff
  setup.py
Due: autoflake, isort, black

Chore: improve type hints of Query methods (#3148)
  sqlglot/expressions.py
Due: autoflake, isort, black, mypy

woops
  setup.py
Due: autoflake, isort, black

feat: add skip limit token kwarg
  sqlglot/parser.py
Due: autoflake, isort, black, mypy

feat(mysql): Multi-arg GROUP_CONCAT
  sqlglot/dialects/mysql.py
  tests/dialects/test_mysql.py
Due: autoflake, isort, black, mypy

Reorder dict keys to enforce alfabetic order
  sqlglot/parser.py
Due: autoflake, isort, black, mypy

Refactor #1
  sqlglot/dialects/mysql.py
Due: autoflake, isort, black, mypy

Fix invalid BQ test
  tests/dialects/test_bigquery.py
Due: autoflake, isort, black, mypy

Iteration n.1
  sqlglot/dialects/mysql.py
Due: autoflake, isort, black, mypy

Removing unnecessary Optional hint
  sqlglot/dialects/mysql.py
Due: autoflake, isort, black, mypy

Removing unnecessary short-circuit
  sqlglot/dialects/mysql.py
Due: autoflake, isort, black, mypy

Iteration n.2
  sqlglot/dialects/mysql.py
  tests/dialects/test_mysql.py
Due: autoflake, isort, black, mypy

Minor formatting change
  sqlglot/dialects/mysql.py
Due: autoflake, isort, black, mypy

Feat(mysql): Support for multi arg GROUP_CONCAT (#3150)
  sqlglot/dialects/mysql.py
  tests/dialects/test_mysql.py
Due: autoflake, isort, black, mypy

add
  tests/fixtures/optimizer/tpc-ds/tpc-ds.sql
Due: none

add standard alias
  tests/fixtures/optimizer/tpc-ds/tpc-ds.sql
  tests/test_executor.py
Due: autoflake, isort, black, mypy

more tests
  tests/fixtures/optimizer/tpc-ds/tpc-ds.sql
Due: none

Revert "more tests"
  tests/fixtures/optimizer/tpc-ds/tpc-ds.sql
Due: none

Path conditions:
  autoflake: any of: ^(sqlglot/|tests/|setup.py) and \.py$
  isort: any of: ^(sqlglot/|tests/|setup.py) and \.py$
  black: any of: ^(sqlglot/|tests/|setup.py) and \.py$
  mypy: any of: ^(sqlglot/|tests/) and \.py$
